<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunch</title>
    <%-include('../cdn.ejs')%>
  </head>
  <body>
    <%-include('navbar.ejs')%> <%-include('menu_nav.ejs')%>

    <div class="container-fluid">
      <div class="container">
        <div class="row">
         <% data.map((val,index)=>{   %>

          <div class="col-md-6 ">
            <div class="cards bg-light p-3">
            <h4 class="text-center"><%=val.p_name%>></h4>
            <p class="text-center">
             <%=val.p_description%>
            </p>
            <h4 class="text-center">&#8377;<%=val.p_price%></h4>
            <div class="text-center"><img class="img-fluid border rounded-circle" width="140px" src=<%=val.p_image%> alt="">
            </div><br>
           <div class="text-center"> <a href="/cart/<%=val.p_id%>" class="btn bg-warning text-light fw-bold me-5">Add to Cart</a>
            <a href="/buy/<%=val.p_id%>" class="btn text-white bg-info fw-bold">Buy Item</a></div>
          </div>
        </div>

       <%  })  %>

          <!-- <div class="col-md-6 ">
            <div class="cards bg-light p-3">
            <h4 class="text-center">Generic Fresh Tuna</h4>
            <p class="text-center">
              Sustainably caught, sashimi-grade tuna, lightly seared to
              perfection and served medium-rare for optimal flavor. Finished
              with a sesame-soy glaze and accompanied by a seasonal vegetable
              medley and jasmine rice. A clean, vibrant dish that celebrates the
              natural richness of the sea.
            </p>
            <h4 class="text-center">&#8377; 926.00</h4>
            <div class="text-center"><img class="img-fluid border rounded-circle" width="140px" src="fresh_Tuna.jpg" alt="">
            </div><br>
            <div class="text-center"><button class="btn bg-warning text-white fw-bold">Add to Cart</button></div>
          </div>        
        </div> -->
    </div>
      </div>
    </div>

    <%-include("footer.ejs")%>
  </body>
</html>
